<!--
  Generated template for the CustomerinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="app-hdr">
  <ion-navbar>
    <img src="assets/imgs/app-logo.png" class="hdr-logo">
    <ion-buttons end>
      <button ion-button class="menu-ioc"><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="app-page-bg">
  
  <!-- customer details for saloon job-->
  <ion-grid *ngIf="saloonView">
    
    <div class="pg-cnt-hdr">CUSTOMER INFORMATION</div>
    
    <ion-row class="app-card-1 bacic-app-card">
      <div class="flx-1">
        
        <div class="cust-info-trt">
          <div class="l1-txt">Hair Cut Baby Girl</div>
          <div class="l2-txt">Hair wash blow dry</div>
        </div>

        <div class="cust-info-trt">
          <div class="l1-txt">Ashani Gunathilaka</div>
          <div class="l2-txt">Beautician</div>
        </div>
      </div>

      <div class="l1-txt">
        LKR 1500
      </div>
    </ion-row>

    
    <div class="pg-cnt-hdr">CUSTOMER INFORMATION</div>


    <ion-row class="app-form-inpt-row">
      <input (ng-model)="customerContactNumber" placeholder="Contact number">
    </ion-row>

    <ion-row class="app-form-inpt-row">
      <input (ng-model)="customerName" placeholder="Coustommer name">
    </ion-row>

    <div class="pg-cnt-hdr">PAYMENT OPTION</div>

    <ion-row class="tab-btn-row">
      <button class="btn-lft active-btn-brwn" ion-button (click)="settleBill()">Settle the Bill</button>
      <button class="btn-rgt active-btn-gren" ion-button (click)="payAdvance()">Pay Advance</button>
  </ion-row>

    <ion-row *ngIf="sttlBll" class="app-pay-opt">
      <ion-col no-padding>
        <ion-row class="pay-opt-row">
          <div><input type="radio"></div>
          <div class="flx-1"><img src="assets/imgs/visa.png"></div>
        </ion-row>
      </ion-col>

      <ion-col no-padding>
        <ion-row class="pay-opt-row">
          <div><input type="radio"></div>
          <div class="opt-txt">Pay by Cash</div>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="payAdvnc" class="app-pay-opt">

    <ion-col no-padding col-12 class="app-form-inpt-row pay-dadv-input">
        <input (ng-model)="advance" placeholder="Advance Amount">
      </ion-col>

      <ion-col no-padding col-12 class="app-form-inpt-row pay-dadv-input">
        <ion-datetime (ng-model)="eventDate" placeholder="Event Date"></ion-datetime>
      </ion-col>

      <ion-col no-padding>
        <ion-row class="pay-opt-row">
          <div><input type="radio"></div>
          <div class="flx-1"><img src="assets/imgs/visa.png"></div>
        </ion-row>
      </ion-col>

      <ion-col no-padding>
        <ion-row class="pay-opt-row">
          <div><input type="radio"></div>
          <div class="opt-txt">Pay by Cash</div>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>
  <!-- customer details for saloon job-->


  <!-- customer details for bridal job-->
  <ion-grid *ngIf="bridalView">

    <div class="pg-cnt-hdr">CUSTOMER INFORMATION</div>

    <ion-row class="app-form-inpt-row">
      <input (ng-model)="customerName" placeholder="Coustommer name">
    </ion-row>

    <ion-row class="app-form-inpt-row">
      <input (ng-model)="customerContactNumber" placeholder="Contact number">
    </ion-row>

    <ion-col no-padding col-12 class="app-form-inpt-row">
        <ion-datetime (ng-model)="eventDate" placeholder="Event Date"></ion-datetime>
    </ion-col>

    <ion-col no-padding col-12 class="app-form-inpt-row">
        <input (ng-model)="total" placeholder="Amount">
      </ion-col>

    <div class="pg-cnt-hdr marg-top-24">PAYMENT OPTION</div>

    <ion-row class="tab-btn-row">
      <button class="btn-lft active-btn-brwn" ion-button (click)="settleBill()">Settle the Bill</button>
      <button class="btn-rgt active-btn-gren" ion-button (click)="payAdvance()">Pay Advance</button>
  </ion-row>

    <ion-row *ngIf="sttlBll" class="app-pay-opt">
      <ion-col no-padding>
        <ion-row class="pay-opt-row">
          <div><input type="radio"></div>
          <div class="flx-1"><img src="assets/imgs/visa.png"></div>
        </ion-row>
      </ion-col>

      <ion-col no-padding>
        <ion-row class="pay-opt-row">
          <div><input type="radio"></div>
          <div class="opt-txt">Pay by Cash</div>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="payAdvnc" class="app-pay-opt">

      <ion-col no-padding col-12 class="app-form-inpt-row pay-dadv-input">
        <input (ng-model)="advance" placeholder="Advance Amount">
      </ion-col>

      <ion-col no-padding col-12 class="app-form-inpt-row pay-dadv-input">
        <ion-datetime (ng-model)="eventDate" placeholder="Event Date"></ion-datetime>
      </ion-col>

      <ion-col no-padding>
        <ion-row class="pay-opt-row">
          <div><input type="radio"></div>
          <div class="flx-1"><img src="assets/imgs/visa.png"></div>
        </ion-row>
      </ion-col>

      <ion-col no-padding>
        <ion-row class="pay-opt-row">
          <div><input type="radio"></div>
          <div class="opt-txt">Pay by Cash</div>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>
  <!-- customer details for bridal job-->

  </ion-content>

<ion-footer class="pg-btm-btn-foot">
  <ion-row>
    <ion-col>
      <button ion-button (click)="nextView()" class="brwn-grd-btn">
        NEXT
      </button>
    </ion-col>
    </ion-row>
</ion-footer>
