<!--
  Generated template for the CustomerinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>customerinfo</ion-title>
    <img src="assets/imgs/app%20logo.png">
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      CUSTOMER INFORMATION
    </ion-row>
    <ion-row>
      <label>{{treatement?.title}}</label>
      <label>{{treatement?.cost}}</label>
      <label>{{treatement?.description}}</label>
    </ion-row>
    <ion-row>
      <label>
        {{beautician?.name}}
      </label>
      <label>
        Beautician
      </label>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <input placeholder="card no">
    </ion-row>
    <ion-row>
      <input placeholder="customer name">
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      PAYMENT OPTION
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button (click)="settleBill()">
          Settle the Bill
        </button>
      </ion-col>
      <ion-col>
        <button ion-button (click)="payAdvance()">
          Pay Advance
        </button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="sttlBll">
      <ion-col>
        <input type="radio">
        <img src="assets/imgs/visa.png">
      </ion-col>
      <ion-col>
        <input type="radio">
        Pay by Cash
      </ion-col>
    </ion-row>
    <ion-row *ngIf="payAdvnc">
      <ion-datetime placeholder="Event Date"></ion-datetime>
      <input placeholder="Advance Amount">
    </ion-row>
  </ion-grid>
  <ion-row>
    <button ion-button (click)="nextView()">
      NEXT
    </button>
  </ion-row>
</ion-content>
