<!--
  Generated template for the TreatementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="app-hdr">
  <ion-navbar>
    <img src="assets/imgs/app-logo.png" class="hdr-logo">
    <ion-buttons end>
      <button ion-button class="menu-ioc"><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="app-page-bg">
<ion-grid>
  
  <div class="pg-cnt-hdr">SELECT TREATEMENT</div>

  <ion-slides class="app-card-1 app-card-pad">
    <ion-slide *ngFor="let slide of treatementList">
      <ion-row *ngFor="let itm of slide.treatmentList" class="trt-row">
        <div><input type="radio" [value]="itm" [(ngModel)]="selecttreatement" name="treatement"></div>
        <div class="flx-1 trt-info">
          <div>{{itm.title}}</div>
          <div class="discript">{{itm.description}}</div>
        </div>
        <div class="price">LKR {{itm.price}}</div>
      </ion-row>

      <ion-row class="trt-type">
        <ion-col no-padding>
        {{slide.type}}
        </ion-col>
      </ion-row>

    </ion-slide>
  </ion-slides>

  <ion-grid>
    <div class="pg-cnt-hdr-2">SELECT BEAUTICIANS</div>
    <ion-row class="slect-btn-set">
      <ion-col *ngFor="let nms of beauticiansList; let i = index">
        <button ionic ion-button name="beautiNm" (click)="activeBtn(nms, i)" [ngClass]="nms.class">
          {{nms?.name}}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-grid>
</ion-content>

<ion-footer class="pg-btm-btn-foot">
  <ion-row>
    <ion-col>
      <button ion-button (click)="nextView()" class="brwn-grd-btn">
        NEXT
      </button>
    </ion-col>
    </ion-row>
</ion-footer>
